<nav class="blog_navbar">
	<ul>
		<li><a href="{{path("posts_index")}}">Accueil</a></li>
		<li>Articles</li>
		<li>Catégories</li>
		<li>Auteurs</li>
		<li>Contact</li>
		<li>Recherche</li>
	</ul>
</nav>
