<div class="diapo carousel" data-speed="5000" data-transition="1500">
	<div class="elements">
		{% for image in images %}
			<div class="element">
				<img src="{{asset('uploads/images/'~image.name)}}" alt="image" class="image-link">
				<div class="caption">
					<h2>Image</h2>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, aut?</p>
				</div>
			</div>
		{% endfor %}
	</div>
	{# Flèches #}
	<i id="nav-gauche" class="fa-solid fa-angle-left"></i>
	<i id="nav-droite" class="fa-solid fa-angle-right"></i>
	{# Lightbox images #}
	{{ include('_partials/_lightbox.html.twig') }}
</div>
