{# Modale lightbox #}
<div id="modale-lightbox" class="modal">
	<span class="btn-close-modal-lightbox">&times;</span>
	<div class="modal-content">
		<img src="" alt="">
		<div class="numerotation"></div>
	</div>
	{# Flèches #}
	<i id="lightbox-nav-gauche" class="fa-solid fa-angle-left"></i>
	<i id="lightbox-nav-droite" class="fa-solid fa-angle-right"></i>
</div>
