{% block body %}
	{% for image in images %}
		<a class="imageLink" href="{{asset('uploads/images/'~image.name)}}" alt="">
			<img src="{{asset('uploads/images/mini/300x300-'~image.name)}}" alt="image" draggable="true"></a>
	{% endfor %}
{% endblock %}
