<nav class="nav">
	<div class="links-pages">
		<a href="#">Accueil</a>
		<ul
			class="user-pages-links">
			{# Links de pages user #}
			<li>
				<a href="#" class="user-page-link">Page n° 1</a>
			</li>
			<li>
				<a href="#" class="user-page-link">Page n° 2</a>
			</li>
			<li>
				<a href="#" class="user-page-link">Page n° 3</a>
			</li>
			<li>
				<a href="#" class="user-page-link">Page n° 4</a>
			</li>
			<li>
				<a href="#" class="user-page-link">Page n° 5</a>
			</li>

		</ul>
		<a href="#">
			Contact</a>
	</div>

	<div class="links-login">
		<a href="#">S'inscrire</a>
		<a href="#">Se connecter</a>
		<a href="#">Se déconnecter</a>
	</div>
</nav>
