<nav>
	<div class="links-login">
		{% if is_granted('ROLE_USER') %}
			<a href="{{path('app_logout')}}">Se déconnecter</a>
			<p class="logged-as text-right">Connecté en tant que
				{{app.user.nickname}}</p>
		{% else %}
			<a href="{{path('app_register')}}">S'inscrire</a>
			<a href="{{path('app_login')}}">Se connecter</a>
		{% endif %}
	</div>
</nav>
