<div class="theme-switch">
	<input type="checkbox" id="theme-switch-checkbox" class="theme-switch-checkbox">
	<label class="theme-switch-label" for="theme-switch-checkbox">
		<i class="fas fa-moon"></i>
		<i class="fas fa-sun"></i>
        <div class="ball"></div>
	</label>
</div>
