{% extends 'base.html.twig' %}
{% block title %}
	Demande réinitialisation de mot de passe
{% endblock %}
{% block body %}
	<h1 class='centered'>Demande réinitialisation de mot de passe</h1>
	<section>
		{{ form_start(requestPasswordform) }}
		{{ form_row(requestPasswordform.email) }}
		{{ form_rest(requestPasswordform) }}
        <button type="submit">Envoyer</button>
		{{ form_end(requestPasswordform) }}
	</section>
{% endblock %}
