{% extends 'base.html.twig' %}
{% block title %}
	Interface d'administration
{% endblock %}
{% block body %}
	<main>
		<section>
			<h1 class="titre centered">Interface d'administration</h1>
			<p class="centered">Bienvenue sur la page d'administration de votre site</p>
			<p class="centered">Utilisez le menu glissant à gauche pour commencer à créer vos pages ou autres options</p>
		</section>
	</main>
{% endblock %}
