{% extends 'base.html.twig' %}
{% block title %}
	Créer une catégorie d'images
{% endblock %}
{% block body %}

	{{ form_start(form) }}
	{{ form_row(form.nom) }}
	<button type="submit">Enregistrer catégorie</button>
	{{ form_end(form) }}
{% endblock %}
