{% extends 'base.html.twig' %}
{% block title %}
	Page d'accueil My_Website
{% endblock %}
{% block body %}
	<h1 class="titre centered message_bienvenue">{{message}}</h1>
	<p class="centered">Veuillez vous identifier pour pouvoir profiter de toutes les fonctionnalités de l'interface</p>
{% endblock %}
