{% extends 'base.html.twig' %}
{% block body %}
<h1 class="titre centered">Gestion des catégories</h1>
<a href="{{path('categories_creer')}}" class="btn centered"><i class="fa-solid fa-circle-plus"></i>Créer une catégorie</a>
    
{% endblock %}