form {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 1000px;
  margin: 10px auto;
  justify-content: center;
  align-items: center;
}
form div {
  width: 100%;
}
form .row {
  display: flex;
  flex-direction: row;
}
textarea {
  min-height: 100px;
}

input,
select,
textarea {
  display: flex;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 7px;
  margin: 5px;
  background-color: #fff;
  width: 100%;
}
input[type="datetime-local"] {
  text-align: right;
}

input[type="file"] {
  border: none;
}
textarea:hover,
textarea:focus {
  border: 1px solid lightgray;
  border-radius: 5px;
}
label {
  font-size: 0.8rem;
  word-break: normal;
  min-width: 80px;
  margin-left: 5px;
}
legend {
  font-size: 0.8rem;
}
.wrapper-ckeditor{
  display:flex;
  align-items: center;
}
@media screen and (max-width: 650px) {
  form {
    width: 95%;
  }
}
