form {
  width: 80%;
  /* max-width: 1000px; */
  margin: 10px auto;
}

form div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


/* .card{
  display:flex;
  flex-direction: column;
  background-color: blue;
} */
input,
select,
textarea {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  width: 100%;
  background-color: #fff;
}
input[type="datetime-local"] {
  text-align: right;
}
/* input[type="text"] {
  outline: none;
  border: none;
  border-radius: unset;
} */
input[type="text"]:hover,
input[type="text"]:focus {
  border-bottom: 1px solid lightgray;
}
input[type="file"] {
  border: none;
}
textarea:hover,
textarea:focus {
  border: 1px solid lightgray;
  border-radius: 5px;
}
label {
  font-size: 0.8rem;
  word-break: normal;
  min-width: 150px;
}
legend {
  font-size: 0.8rem;
}

