.list {
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
  align-items: center;
}
.item {
  display: flex;
  flex-direction: row;
  justify-content: start;
  background-color: var(--primary-background-color);
  border: 1px solid rgb(251, 251, 251);
  padding: 5px 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 3px 2px 4px darkgray;
  align-items: center;
  font-size: 0.9rem;
  /* flex-wrap: wrap; */
  color: white;
  min-width: 400px; 
  width:700px;
}
.item:hover {
  transform: scale(103%) translateY(5%);
  z-index: 10;
  transition: all 0.3s;
  margin-bottom: 25px;
  margin-top: 5px;
  border: 1px solid blue;
  background-color: var(--secondary-background-color);
  color: blue;
}
.miniature-image img{
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgb(37, 37, 37);
  border: 2px solid white;
}
.nom-image{
  font-size: 0.7rem;
}
.sortable-item {
  cursor: move;
}
.details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.item.dragging {
  opacity: 0.8;
  background-color: lightgray;
}
.item.dragging :where(.details, i) {
  opacity: 0;
}
.grabber {
  color: darkgray;
  font-size: 1.2rem;
}
.col {
  margin-left: 10px;
  margin-right: 10px;
}
.btn-actions-horizontale {
  display: flex;
  flex-direction: row;
  padding: 10px 15px;
  justify-content: center;
  align-items: center;
}
.numerotation-item{
  margin-right: 10px;
  width:20px; 
  text-align: Center;
}
@media screen and (max-width: 450px) {
  .item {  
    flex-direction: column;
    margin: 5px 7px;
  }
  .item .grabber {
    display: none;
  }
  .item .btn-action {
    padding: 8px;
  }
}
