.multi-select-tags {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* height: 400px; */
  margin: 10px auto;
}
.content {
  width: 100%;
}
.tags-container {
  min-height: fit-content;
  overflow: auto;
  background-color: #f3f3f3;
  display: none;
  flex-direction: row;
  padding: 10px;
  border: 1px solid lightgray;
  height: 150px;
  position: relative;
  flex-wrap: wrap;
  box-shadow: var(--box-shadow);
  border-radius: 15px;
}
.tags-container .tag,
.selected-tags-container .tag {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  display: flex;
  min-width: fit-content;
  max-width: fit-content;
  border-radius: 50px;
  height: 25px;
  padding: 7px 10px;
  margin: 3px;
  /* box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25); */
  /* border: 1px solid white; */
  font-size: 0.7rem;
  cursor: move;
  opacity: 0.7;
}
.selected-tags-container {
  width: 100%;
  display: flex;  
  min-height: 35px;
  flex-wrap: wrap;
  position: relative;
  border-radius: 10px;
  background-color: white;
}
.dragging{
  border:1px dashed blue;
  transform:scale(105%);
  background-color: white;
}
.checkbox-dropdown-multi-select {
  width: 20px;
  position: absolute;
  right: 0;
  top: 0;
}
.btn.btn-ajout-tag {
  padding: 2px;
  position: absolute;
  top: 0;
  right: 0px;
}
.label-dropdown-checkbox {
  background-color: red;
}
