nav {
  height: 40px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0 15px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-background-color);
}
.links-pages {
  margin-left: 50px;
}
.links-pages,
.links-login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.links-pages a,
.links-login a,
.user-pages-links a {
  text-decoration: none;
  margin: 0 10px;
  color: white;
  font-size: 0.9rem;
}
.links-pages a:hover,
.links-login a:hover {
  text-decoration: underline;
  transform: scale(105%);
}
.user-pages-links {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}
.liste-pages-publiees {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 80%;
  overflow-x: scroll;
  font-size: 0.8rem;
  margin: 10px auto;
  padding: 5px;
}
.links-pages-publiees {
  padding: 5px;
  border: 1px solid lightgray;
  border-radius: 5px 5px 0 0;
  margin-right: 1px;
  box-shadow: 1px 1px 3px darkgray;
}
.links-pages-publiees:hover {
  transform: scale(103%);
  transition: all 0.3s;
  background-color: var(--primary-background-color);
  color: white;
  font-weight: 500;
}
@media screen and (max-width: 650px) {
  nav {
    height: 100%;
    padding: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
  }
  .links-login,
  .links-pages {
    flex-direction: column;
    align-items: start;
  }
  .links-pages {
    margin-left: 0;
  }
  .links-login a,
  .links-pages a {
    padding: 10px;
  }
}
