.sectionsPages {
  padding: 5px;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-direction: column;
}
.sectionsPages div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
}
.sectionsPages div label {
  text-align: left;
  padding: 5px;
}
.sectionPage {
  background-color: lightgoldenrodyellow;
  border: 1px solid lightgray;
  padding: 15px;
  margin-bottom: 5px;
  width: 100%;
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  position: relative;
}
.sectionPage label {
  color: blue;
  text-align: left;
  display: block;
  width: 100%;
}
.sectionPage input,
textarea {
  width: 100%;
  color: blue;
}
#pages_sectionsPages {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#pages_sectionsPages div {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.btnRemoveItem {
  position: absolute;
  font-size: 1rem;
  font-weight: bolder;
  padding: 0;
  margin: 0;
  top: 5px;
  right: 5px;
}
