.sectionsPages { 
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.sectionsPages div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.sectionsPages div label {
  text-align: left;
  padding: 5px;
}
.sectionPage {
  border: 1px solid lightgray;
  padding:  0 10px 0 10px; 
  margin-bottom: 15px;
  width: 100%;
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  position: relative;
  display:flex;
}
.sectionPage label {
  color: blue;
  text-align: left;
  display: block;
  width: 100%;
}
.sectionPage input,
textarea {
  width: 100%;
  color: blue;
}
#pages_sectionsPages {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#pages_sectionsPages div {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.btnRemoveItem {
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  font-size: 1rem;
}
.sectionsPages div.entete-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 30px;
  margin: 5px;
  padding: 5px ;
}

.sectionNum {
  text-align: left;
  width: 100%;
  margin: 5px;
}
