.sortable-list {
  display: flex;
  flex-direction: column;
  /* border: 1px solid lightgray; */
  padding: 10px;
  /* width: 80%; */
  justify-content: center;
  margin: 0 auto;
  border-radius: 5px;
}
.item {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  border: 1px solid rgb(251, 251, 251);
  padding: 5px 10px;
  margin-bottom: 10px;
  cursor: move;
  border-radius: 5px;
  box-shadow: 3px 2px 4px darkgray;
  align-items: center;
  font-size: 0.9rem;
  max-width: 600px;
}
.details {
  display: flex;
  justify-content: center;
  align-items: center;
}
.item.dragging {
  opacity: 0.8;
  background-color: lightgray;
}
.item.dragging :where(.details, i) {
  opacity: 0;
}
.grabber {
  color: darkgray;
  font-size: 1.2rem;
}
.col {
  margin-left: 10px;
}
