@import "tables.css";
@import "forms.css";
@import "galeries.css";
@import "carousel.css";
@import "sidebar.css";
@import "lightbox.css";
@import "pages.css";
@import "nav.css";
@import "lists.css";
@import "tags.css";
@import "multi-select-tags.css";
@import "footer.css";
@import "toggle-switch.css";
@import "mouse-slider.css";

:root {
  --primary-background-color: rgb(0, 138, 117);
  --secondary-background-color: rgb(0, 165, 141);
}

/* Light (default) */
html,
html:has(input[name="theme"][value="light"]:checked) {
  color-scheme: light;
  --color-surface-0: #f3f3f3;
  body,
  main {
    background-color: var(--color-surface-0);
    color: #333;
  }
}
/* Dark (override) */
html:has(input[name="theme"][value="dark"]:checked) {
  color-scheme: dark;
  --color-surface-0: #333;
  * {
    color: #333;
  }
  body,
  main {
    background-color: var(--color-surface-0);
    color: #333;
  }
  nav,
  footer,
  .list .item,
  .sidebar,
  .sidebar-menu,.parametres-galerie {
    background-color: #404040;
  }
  a,
  i,
  a:visited {
    color: #f2f2f2;
  }
  .titre,
  .titre-groupe,
  label {
    color: #f4f4f4;
  }
  .btn,
  .speed-dial-button a,
  .speed-dial-button button {
    background-color: var(--primary-background-color);
  }
  .btn {
    color: white;
  }
  .button-label {
    color: white;
  }
  .flashbag{background-color: var(--secondary-background-color);}
  .flashbag-text{
    color: white;
  }

}
/* Dark system preference (light is treated as implicit default) */
@media (prefers-color-scheme: dark) {
  html:has(input[name="theme"][value="auto"]:checked) {
    color-scheme: dark;
    --color-surface-0: #333;
    body,
    main {
      background-color: var(--color-surface-0);
      color: #f3f3f3;
    }
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  transition: background-color 1s linear;
}
html {
  color: #636363;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  /* font-size: calc(0.5rem + 1.5vw); */
}
main {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
  transition: margin-left 0.5s;
  min-height: 100vh;
  background-color: #fffdfd;
  scroll-behavior: smooth;
  transition: background-color 1s linear;
}
a,
link {
  text-decoration: none;
  white-space: nowrap;
}
ul {
  list-style: none;
}
button {
  outline: none;
  border: none;
}
.btn {
  padding: 8px 12px;
  border-radius: 10px;
  color: white;
  background-color: var(--primary-background-color);
  margin: 5px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  width: fit-content;
  font-size: 0.8rem;
  border: 1px solid lightgray;
}
.btn:hover {
  transform: scale(105%);
  box-shadow: 1px 1px 4px rgba(0,0,0,0.25);
  border: 1px solid darkgray;
  transition: all 0.3s; 
}
.btn a {
  text-decoration: none;
}
.btn i {
  margin: 0;
}
.alert {
  color: red;
  font-size: 0.7rem;
}
.centered {
  display: block;
  margin: 10px auto;
  text-align: center;
}
.right {
  display: block;
  margin-left: auto;
}
.muted {
  background-color: #fcfcfc;
  color: darkgray;
  border: none;
  outline: none;
}
.show {
  display: block;
}
.titre {
  font-size: 1.2rem;
  display: block;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.success {
  color: darkgreen;
  font-size: 0.7rem;
}
.text-align-center {
  text-align: center;
}
.text-align-right {
  text-align: right;
}
.text-green {
  color: green;
}
.text-red {
  color: red;
}
.boutons-horizontale {
  display: flex;
  flex-direction: row;
  width: fit-content;
  align-items: center;
  justify-content: center;
}
.flashbag {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
  color: white;
  background-color: green;
  opacity: 0.5;
  padding: 5px;
}
.btn-fermer-flashbag {
  padding: 0;
  box-shadow: unset;
  border: unset;
  font-size: 1rem;
  background-color: transparent;
  margin-right: 10px;
}

.badge {
  padding: 5px 12px;
  border-radius: 10px;
  opacity: 0.6;
  color: white;
  background-color: darkgray;
  font-size: 0.6rem;
  width: fit-content;
  box-shadow: 1px 1px 4px darkgray;
}

.badge-success {
  background-color: green;
}
.badge-warning {
  background-color: orange;
}
.badge-danger {
  background-color: red;
}
.ck-editor__editable_inline {
  min-height: 75px;
}
.speed-dial {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 40%;
  left: 90%;
  z-index: 15;
}
.speed-dial-button,
.speed-dial-button button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  width: 100px;
  margin-bottom: 5px;
  outline: none;
  border: none;
}
.speed-dial-button a,
.speed-dial-button button {
  background-color: #f4f4f4;
  transition: all 0.5s;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  box-shadow: 1px 1px 2px darkgray;
  display: flex;
  justify-content: center;
  align-items: center;
}
.speed-dial-button a:hover,
.speed-dial-button button:hover {
  background-color: var(--primary-background-color);
  color: white;
  transform: scale(110%);
  margin: 5px auto;
  font-weight: 800;
}
.speed-dial-button:hover > .button-label,
.speed-dial-button button:hover {
  display: flex;
  /* width: 100%; */
}
.button-label {
  text-align: center;
  display: none;
  font-size: 0.6rem;
  padding: 5px;
  /* background-color: white; */
  color: #333;
  /* box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25); */
  transition: all 0.5s;
}
.speed-dial__link i,
.speed-dial-button button i {
  margin: 0;
}
.expandable {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.8s ease-in-out;
  border: none;
  padding: 0;
}
.expandable.expandable-show {
  max-height: 1000px;
  border: initial;
  padding: initial;
}
.boutons-horizontale {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}
