table {
  border-collapse: separate;
  border-spacing: 0 15px;
  width: 97%;
  font-size: 0.8rem;
  overflow-y: scroll;
}
thead {
  position: sticky;
  box-shadow: 2px 5px 8px darkgray;
  border: none;
}
tbody {
  overflow-y: scroll;
}
th,
caption {
  border: 1px solid rgb(228, 228, 228);
  padding: 0.8rem;
}
td {
  padding: 5px;
}
table tr {
  background-color: #fff;
  border: 1px solid rgb(63, 63, 63);
  border-radius: 10px;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:hover {
  background-color: #ddd;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #06724a;
  color: white;
}
.td-btn-actions {
  width: fit-content;
  display: flex;
  justify-content: center;
}
.btn-action {
  padding: 7px;
  margin: 5px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-content: center;
  /* border: 1px solid lightgray; */
}

.btn-supprimer {
  padding: 5px;
  color: red;
}
.btn-modifier {
  padding: 5px;
  color: blue;
}
td .grabber {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  color: darkgray;
  cursor: grabbing;
}
/* tables incluses dans les listes */
.list-table {
  margin: 5px auto;
  padding: 0;
  border: unset;
  border-spacing: unset;
}
.list-table th {
  background-color: rgb(244, 244, 244);
  color: black;
  font-weight: normal;
  padding: 3px;
  margin: 0;
}
.list-table thead {
  box-shadow: unset;
  padding: 0;
  margin: 0;
}
.list-table tr {
  padding: 0;
  margin: 0;
}
.list-table tr td {
  margin: 2px;
  padding: 2px;
}
.ordre-liste {
  margin-left: 10px;
}
.col-50 {
  width: 50px;
}
.col-75 {
  width: 75px;
}
.col-100 {
  width: 100px;
}
.col-150 {
  width: 150px;
}
.col-200 {
  width: 200px;
}
@media (max-width: 650px) {
  th {
    display: none;
  }
  tr {
    display: block;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 2px 5px 8px darkgray;
  }
  tr:hover {
    transform: scale(105%);
    transition: 0.3s;
    background-color: blanchedalmond;
  }
  td {
    display: grid;
    grid-template-columns: 15ch auto;
    padding: 0.5rem 1rem;
  }
  td:first-child {
    padding-top: 1.5rem;
    border: none;
  }
  td:last-child {
    padding-bottom: 1.5rem;
    border: none;
  }

  td::before {   
    content: attr(data-cell);
    text-transform: capitalize;
  }
  td::before {
    content: attr(data-label) ": ";
    width: 200px;
    padding-left: 25px;
    font-size: 0.7rem;
    font-weight: bold;
    text-align: left;
    margin-right: 25px;
  }
  .list-table thead {
    display: none;
    box-shadow: unset;
  }
  .list-table tr {
    border: none;
    box-shadow: none;
  }
  .list-table tr td
{
    text-align: left;
  }
  .list-table tr td i {
    display: none;
  }
  .list-table .etat-galerie .badge{
    display:block;
    margin-left: 5px;   
   
  }
}
